page{
    height:100%;
}
.address-wrap{
    background-color:#efefef;
    height:100%;
    padding:2.6666666666666665vw;
}
.page-address{
    width:100vw;
    height: 100%;
    background-color:#efefef;
    height:100%;
}
.address-edit{
    background-color:white;
    box-shadow:0 1.0666666666666667vw 2.6666666666666665vw 0 rgba(0,0,0,0.05);
    padding:1.3333333333333333vw;
}
.address-edit .edit-item{
    position:relative;
    padding:0vw 5.333333333333333vw;
    height:10.666666666666666vw;
    font-size:0;
    border-bottom:0.13333333333333333vw solid #f2f2f2;
    color:#8c8c8c;
}
.address-edit .edit-item:last-child{
    padding:0 13.333333333333334vw;
    border:none;
}
.address-edit .edit-item:last-child text{
    padding-left:12vw;
display:inline-block;
}
.address-edit .edit-item text{
    position:absolute;
    z-index:10;
    left:0vw;
    top: 0;
    height:80prx;
    font-size:4.266666666666667vw;
    line-height:10.666666666666666vw;
    color:#8c8c8c;
}
.address-edit .edit-item input{
    /*padding-left:16vw;*/
    height:10.666666666666666vw;
    font-size:4.266666666666667vw;
    line-height:10.666666666666666vw;
    color:#8c8c8c;
}
.address-edit .edit-item .picker{
    /*padding-left:16vw;*/
    height:10.666666666666666vw;
    font-size:4.266666666666667vw;
    line-height:10.666666666666666vw;
    color:#8c8c8c;
    display: block;
}
.address-edit .check-default{
    position:absolute;
z-index:100;
top:5.6vw;
left:5.866666666666666vw;
margin-top:-1.6vw;
width:3.2vw;
height:3.2vw;
background-size:3.2vw;
background-repeat:no-repeat;


    
}
.address-edit .check-default image{
    width:4vw;
    height:4vw;
    
}
.save-btn{
    margin-top:2.6666666666666665vw;
    height:13.333333333333334vw;
    display:flex;
    position: fixed;
    bottom : 0;
    left : 0;
    width: 100%;
    background-color:#161823;
    color : #fff;
    font-size: 4.266666666666667vw;    
    justify-content:center;
    align-items:center;
}
.cancel-btn{
    margin-top:2.6666666666666665vw;
    height:10.666666666666666vw;
    background-color:#ddd;
    color:#797979;
    border-radius:1.3333333333333333vw;
    display:flex;
    justify-content:center;
    align-items:center;

}