.tips-mod { position: fixed; z-index: 999; height : 36px; width : 100%; left : 0; top : 44px; text-align: center; line-height : 36px; }
.tips-mod span { position: relative; z-index: 997; color : #fff; font-size: 12px; }
.tips-mod i { z-index: 996; display: block; width : 100%; height: 100%; position: absolute; left : 0; top: 0; background-color : #ff712b; opacity: 0.9; }
