page { width: 100%; background-color: #f9f9f9; color : #333; padding-bottom : 13.333333333333334vw; font-size : 3.2vw; }

.status { height : 36vw; background-color: rgb( 235, 94, 24 ); color : #fff; display: flex; padding : 0 4vw; flex-direction : column; justify-content : center; }
.status .info { font-size : 6.4vw; }
.status .sub-info { margin-top : 5.333333333333333vw; }

.hotel { margin-top : 4vw; border-top : solid 1px #f0f0f0; border-bottom : solid 1px #f0f0f0; background-color: #fff; }
.hotel .cell { padding : 4vw 0; border-top : solid 1px #f0f0f0; }
.hotel .cell.info { padding-bottom : 0; }
.hotel .cell:first-child { border-top : 0; }
.hotel .cell .name { font-size :3.7333333333333334vw; padding : 0 4vw; }
.hotel .cell .address { color : #777; margin-top : 2.6666666666666665vw; padding : 0 4vw; }
.hotel .cell .list { padding : 4vw 0; border-bottom : solid 1px #f0f0f0; }
.hotel .cell .list .row { display: flex; margin-top : 4vw; padding : 0 4vw; }
.hotel .cell .list .row:first-child { margin-top : 0; }
.hotel .cell .list .row .key { width : 16vw; color : #999; }
.hotel .cell .list .row .value { width : 76vw; }
.hotel .cell .btns { display: flex; }
.hotel .cell .btns .btn { font-size : 3.7333333333333334vw; display: flex; flex-grow : 1; border-right : solid 1px #f0f0f0; justify-content : center; padding : 4vw 0; align-items : center; }
.hotel .cell .btns .btn image { width: 5.333333333333333vw; height : 5.333333333333333vw; margin-right : 1.3333333333333333vw; }

.order { margin-top : 4vw; background-color: #fff; padding : 0 4vw; border-top : solid 1px #f0f0f0; border-bottom: solid 1px #f0f0f0; }
.order .row { padding-top : 4vw; display: flex; align-items : cneter; justify-content : space-between; }
.order .row.line { border-bottom : solid 1px #f0f0f0; padding-bottom : 4vw; }
.order .row:last-child { padding-bottom : 4vw; }
.order .row .key { color : #777; }

.price { display: inline-block; color : rgb( 235, 94, 24 ); }

.tips { padding : 4vw; color : #777; }

.toolbar { height : 13.333333333333334vw; width : 100%; position: fixed; bottom : 0; left : 0; background-color: #fff; display: flex; border-top : solid 1px #f0f0f0; }
.toolbar .btn { flex-grow : 1; height: 100%; display: flex; justify-content : center; align-items : center; font-size : 4.266666666666667vw; color : #333; }
.toolbar .btn.primary { color : #fff; background-color: rgb( 235, 94, 24 ); }