
@import '../../widgets/modules/modules.css'
.view-mine{
	background-color: #f9f9f9;
	min-height: 100%
}

.view-mine .pannel{
	margin-bottom:2.6666666666666665vw;
	background-color: white;
	padding: 0 0 5.333333333333333vw 0;
}

.view-mine .pannel .header .title {
	padding : 0 2.6666666666666665vw;

}

.view-mine .block { height : 16vw; }

.view-mine .user-info {
	position: fixed; 
	top : 0;
	left : 0;
	z-index: 100;
	width : 100%;
	display: flex;
	justify-content: space-around;
	color : #fff;
	font-size : 3.2vw;
	padding-top : 2.6666666666666665vw;
	padding-bottom : 5.333333333333333vw;
	background-image:linear-gradient(0deg,#da3633,#e05e39);
}

.view-mine .user-info .mod {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.view-mine .user-info .act-mod .text {
	font-size : 3.466666666666667vw;
}

.view-mine .user-info .act-mod .point {
	font-size : 4.266666666666667vw;
	color : #f0b41b;
	margin-top : 1.3333333333333333vw;
}

.view-mine .user-info .act-mod .button {
	margin-top : 2.4vw;
	border : solid 1px rgba( 255, 255, 255, 0.7 );
	height : 5.333333333333333vw;
	width : 13.333333333333334vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius : 2.6666666666666665vw;
	background-color: rgba( 0, 0, 0, 0.1 )
}

.view-mine .user-info .logo .icon {
	position: relative;
}

.view-mine .user-info .logo .icon image {
	width : 18.666666666666668vw;
	height: 18.666666666666668vw;
	border-radius: 50%;
	border : solid 1px #fff;
}

.view-mine .user-info .logo .name {
	font-size : 4.266666666666667vw;
	margin-top : 1.3333333333333333vw;
}

.view-mine .user-info .level {
	display: flex; 
	align-items: center; 
	padding : 0.8vw 2.6666666666666665vw;
	z-index: 10;
	color : #f0b41b;
}
.view-mine .user-info .level image {
	border : none;
	border-radius: 0;
	width : 4vw;
	height : 4vw;
	margin-right : 1.0666666666666667vw;
}


.view-mine .user{
	display:flex;
height:18.666666666666668vw;
position:relative;
width:94.66666666666667vw;

/*justify-content:space-between;*/
/*padding:5.866666666666666vw;*/
}
.view-mine .user .charge{
	width:6.666666666666667vw;
	height:6.666666666666667vw;
	position:absolute;
	right:0;
	bottom:0.5px;
}

.view-mine .user .left{
	margin-right:4vw;
	width:20%;

}
.view-mine .user .right{
	position:relative;
	width:80%;
}
.view-mine .user .vip-wrapper{
	margin-top:0.8vw;
	position:absolute;
	width:40vw;
	bottom:0;

}
.view-mine .user .name{
	font-size:5.333333333333333vw;
	height:5.333333333333333vw;
	line-height:5.333333333333333vw;
}
.view-mine .user .vip{
	width:4vw;
	height:4vw;
	/*margin-left:1.3333333333333333vw;*/
	vertical-align:bottom;
}
.view-mine .user .vip-level{
	vertical-align:bottom;
	color:#f0b41b;
	font-size:4vw;
	position:absolute;
	bottom:-1.0666666666666667vw;

}
.view-mine .user .notice{
	position:absolute;
	bottom:0;
}
.view-mine .user .check-user{
	font-size:3.2vw;
color:#a6a6a6;
height:3.7333333333333334vw;
line-height:3.7333333333333334vw
}
.view-mine .user .header-img{
	width:18.666666666666668vw;
height:18.666666666666668vw;
border-radius:50%;
}


.view-mine .order{ margin-top : 40vw; }
.view-mine .order.groupon{ margin-top : 2.6666666666666665vw; }
.view-mine .order .header{
	display:flex;
	justify-content:space-between;
	padding : 2.6666666666666665vw 0;
	align-items:center;
}
.view-mine .order .header .title{
	font-size:4.266666666666667vw;
	color:#202020;
}
.view-mine .order .header .check-more{
	font-size:3.2vw;
	color:#9e9e9e;
	margin-right : 2.6666666666666665vw;
}

.view-mine .order .content{
	padding : 0 5.333333333333333vw;
	display:flex;
	justify-content:space-between;
	margin-top: 4.533333333333333vw;
}
.view-mine .order .content .item{
	display:flex;
	flex-direction:column;
	align-items:center;

}
.view-mine .order .content .item .item-logo{
	width: 6.666666666666667vw;
	height: 6.666666666666667vw;
}
.view-mine .order .content .item .item-txt{
	font-size: 3.466666666666667vw;
	color:#1d1d1d;
	margin-top: 1.6vw;
	color: #313131
}


.view-mine .my-service{}
.view-mine .my-service .center-line{
	height:0.13333333333333333vw;
	width:100%;
	background-color:#f0f0f0;
	position:absolute;
	top:50%;


}
.view-mine .my-service .header{
	display:flex;
	justify-content:space-between;
	padding : 2.6666666666666665vw 0;
	align-items:center;
	border-bottom:0.13333333333333333vw solid #f0f0f0;
}
.view-mine .my-service .header .title{
	font-size:4.266666666666667vw;
	color:#202020;
}
.view-mine .my-service .content{
	display:flex;
	/*justify-content:space-between;*/
	margin-top: 2.6666666666666665vw;
	/*padding : 0 5.333333333333333vw;*/
	flex-wrap: wrap;
}
.view-mine .my-service .content .item{
	display:flex;
	flex-direction:column;
	align-items:center;
	width: 25%;
	margin-bottom: 5.333333333333333vw;
}
.view-mine .my-service .content .item .item-logo{
	width: 6.666666666666667vw;
	height: 6.666666666666667vw;
}
.view-mine .my-service .content .item .item-txt{
		font-size: 3.466666666666667vw;
	color:#1d1d1d;
	margin-top: 1.6vw;
	color: #313131
}
/*<<<<<<< HEAD

.view-mine .recommond{ padding : 0;  }
=======*/
.view-mine .my-service .cash{
	color:#f6951a;
	font-size: 3.2vw
}
.view-mine .my-service .cash .cash-pre{
	font-size: 2.6666666666666665vw
}
.view-mine .my-service .cash .cash-int{
	font-size: 3.7333333333333334vw
}
.view-mine .my-service .cash .cash-float{
	font-size: 3.2vw
}
.view-mine .recommond{}
/*>>>>>>> 64b2d35da167ae9f1dea51c82e10c2bc4429c5af*/
.view-mine .recommond .header{
	display:flex;
	justify-content:space-between;
	padding : 2.6666666666666665vw 0;
	padding-left : 2.6666666666666665vw;
	align-items:center;
}
.view-mine .recommond .header .title{
	font-size:4.266666666666667vw;
	color:#202020;
}
.view-mine .recommond .content{
	display:flex;
flex-wrap:wrap;
}
.view-mine .tpl-recommond-ware{
	width:50%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.view-mine .tpl-recommond-ware .top{}
.view-mine .tpl-recommond-ware .top .ware-img{
	width:40vw;
	height:40vw;
}
.view-mine .tpl-recommond-ware .bottom{
	display:flex;
	flex-direction:column;
	height:26.666666666666668vw;
	width:40vw;
	position: relative;
}
.view-mine .tpl-recommond-ware .bottom .ware-name{
	font-size:3.7333333333333334vw;
	color:#232323;
	height:6.666666666666667vw;
	line-height:6.666666666666667vw;
}
.view-mine .tpl-recommond-ware .bottom .feature{
	font-size:3.466666666666667vw;
	color:#969696;
	height:6.666666666666667vw;
	line-height:6.666666666666667vw;
}
.view-mine .tpl-recommond-ware .bottom .price-info{}
.view-mine .tpl-recommond-ware .bottom .price-info .new-price:before,
.view-mine .tpl-recommond-ware .bottom .price-info .old-price:before{
	content:'￥';
}
.view-mine .tpl-recommond-ware .bottom .price-info .new-price{
	color:#d24740;
	font-size: 3.7333333333333334vw;
	margin-right: 1.3333333333333333vw;
}
.view-mine .tpl-recommond-ware .bottom .price-info .old-price{
	color:#969696;
	font-size: 3.2vw;
	text-decoration: line-through;
}
.view-mine .tpl-recommond-ware .bottom .addCart{
	position:absolute;
	top:14.666666666666666vw;
	right:0;
}
.view-mine .tpl-recommond-ware .bottom .addCart .cartimg{
	width: 6.666666666666667vw;
	height: 6.666666666666667vw
}


.view-mine .goLogin-wrapper { background-color: #f6f6f6; position:fixed; height:100%;  top:0; left : 0; width : 100%; display:flex; flex-direction:column; justify-content:center; align-items:center; }
.view-mine .goLogin-wrapper .login-logo { width:20vw; height:21.333333333333332vw; margin-bottom:18.666666666666668vw; }
.view-mine .goLogin-wrapper .login-msg { font-size:16px; color:#999999; margin-bottom:14.933333333333334vw; }
.view-mine .goLogin-wrapper .login-btn { font-size:17px; color:#FFFFFF; background:#d6204b; box-shadow:0 5px 10px 0 rgba(0,0,0,0.20); border-radius:80px; width:42.666666666666664vw; height:13.333333333333334vw; display:flex; justify-content:center; align-items:center; margin-bottom:26.666666666666668vw; }


.view-mine .pannel{}
.view-mine .pannel .header {
	border-bottom : solid 1px #f0f0f0;
}
/*
.view-mine .goLogin-wrapper{
	position:relative;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

}
.view-mine .goLogin-wrapper .login-logo{
	width:20vw;
	height:21.333333333333332vw;
	margin-bottom:18.666666666666668vw;
}
.view-mine .goLogin-wrapper .login-msg{
	font-size:4.266666666666667vw;
	color:#999999;
	margin-bottom:14.933333333333334vw;
}
.view-mine .goLogin-wrapper .login-btn{
	font-size:4.533333333333333vw;
	color:#FFFFFF;
	background:#d6204b;
	box-shadow:0 5px 10px 0 rgba(0,0,0,0.20);
	border-radius:21.333333333333332vw;
	width:42.666666666666664vw;
	height:13.333333333333334vw;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:26.666666666666668vw;
}*/