

page{
	height: 100%
}
.page-orderlist .head { z-index:100;border-bottom: solid 0.26666666666666666vw #f0f0f0; background-color: #fff; position: fixed; top : 0; left : 0; width : 100%; display: flex; align-items: center; justify-content: space-around; }
.page-orderlist .head .box { text-align:center;height : 13.333333333333334vw; line-height: 13.333333333333334vw; padding : 0 2.6666666666666665vw; font-size : 3.7333333333333334vw; }
.page-orderlist .head .box.current { color : #d6204b;  }

.view-orders{
	background-color: #f8f8f8;
	padding-top: 16vw;
	/*padding-bottom:50px;*/
}
.view-orders .scroll-view{
	height:100%;

}
.view-orders .order-wrapper{
	width:94.66666666666667vw;
	margin:0px 2.6666666666666665vw 2.6666666666666665vw 2.6666666666666665vw;
	box-shadow: 0 1.0666666666666667vw 2.6666666666666665vw 0 rgba(0,0,0,0.05);
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color:#fff;
	/*height: 56vw;*/
	/*height: 54.93333333333333vw*/
}
.view-orders .order-wrapper .order-part{
	width: 100%;
	display: flex;
	background: #FFFFFF;
}
.view-orders .order-wrapper .header{
	height:13.333333333333334vw;
	align-items: center;
	justify-content: space-between;
	border-bottom:#e9e9e9 0.13333333333333333vw solid;
	padding: 0 4vw;
}
.view-orders .order-wrapper .header .header-left{
	display: flex;
	flex-direction: column;
	/*margin-left: 4vw;*/
}
.view-orders .order-wrapper .header .header-left .storeName{
	/*font-family: PingFangSC-Regular;*/
	font-size: 3.7333333333333334vw;
	color: #999999;
	line-height: 5.333333333333333vw;
	/*letter-spacing: 0;*/
}
.view-orders .order-wrapper .header .header-left .orderId{
	font-size: 3.7333333333333334vw;
	color: #4A4A4A;
	line-height: 4.533333333333333vw;
	display:flex;
}
.view-orders .order-wrapper .header .orderState{
	/*font-family: PingFangSC-Regular;*/
	font-size: 3.7333333333333334vw;
	color: black;
	/*margin-right:4vw;*/
	/*letter-spacing: 0;*/
}
.view-orders .order-wrapper .body{
	height:29.066666666666666vw;
}
.view-orders .order-wrapper .body .ware-img{
	width:21.333333333333332vw;
	height:21.333333333333332vw;
	position: relative;
	/*right:1.3333333333333333vw;*/
	margin-top: 3.466666666666667vw;
	left:1.3333333333333333vw;
}
.view-orders .order-wrapper .body .ware-detail{
	/*width:70%;*/
	margin-left:4vw;
	/*margin-right:2.6666666666666665vw;*/
	position: relative;
	margin-top: 3.466666666666667vw
}
.view-orders .order-wrapper .body .ware-detail .ware-name{
	font-family: PingFangSC-Regular;
	font-size: 4.266666666666667vw;
	color: #4A4A4A;
	letter-spacing: 0;
	width:66.4vw;
}
.view-orders .order-wrapper .body .ware-detail .ware-feature{
	font-size: 3.7333333333333334vw;
	color:#9b9aa2;
	margin-top:1.3333333333333333vw;
	width: 66.4vw;

}
.view-orders .order-wrapper .body .ware-detail .ware-count,
.view-orders .order-wrapper .body .ware-detail .groupon-status{
	font-family:PingFangSC-Regular;
	font-size:3.7333333333333334vw;
	color:#4a4a4a;
	letter-spacing:0;
	/*width:66.4vw;*/
	position:absolute;
	right:0;
	bottom:2.6666666666666665vw;
}
.view-orders .order-wrapper .body .ware-detail .groupon-status{
	color:#bababa;
}
.view-orders .order-wrapper .body .ware-detail .groupon-status.active{
	color: #d6204b;
}
.view-orders .order-wrapper .body .ware-detail .price:before{
	content:"¥";
}

.view-orders .order-wrapper .body .ware-detail .price{
	position:absolute;
	bottom:2.6666666666666665vw;
	font-size:3.7333333333333334vw;
	color:#4A4A4A;
}

.view-orders .order-wrapper .body .ware-detail .ware-price{
	/*font-family: PingFangSC-Regular;*/
	font-size: 3.7333333333333334vw;
	color: #4A4A4A;
	/*letter-spacing: 0;*/
	margin-top: 4vw
}
.view-orders .order-wrapper .footer{
	height:13.333333333333334vw;
	/*margin-top:1px;*/
	align-items:center;
	width:100%;
	display:flex;
	justify-content:space-between;
	border-top:0.13333333333333333vw solid #e9e9e9;
	padding:0 2.6666666666666665vw 0 4vw;
}
.view-orders .order-wrapper .footer.aftersale{
	justify-content: flex-end;
}
.view-orders .order-wrapper .footer .next-step{
	/*font-family: PingFangSC-Regular;*/
	font-size: 4.266666666666667vw;
	color: #161823;
	/*margin-left:10px;*/
	font-size:3.7333333333333334vw;
	color:#161823;
	/*margin-left:4vw;*/
	line-height:11.733333333333333vw;
	/*letter-spacing: 0;*/
}

.view-orders .order-wrapper .block{
    background-color: #fff;
    width:26.666666666666668vw;
    height:26.666666666666668vw;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    position: absolute;
}
.view-orders .order-wrapper .block.first{
    right:0px;
    bottom:0px;
    z-index: 1
  }
.view-orders .order-wrapper .block.second{
    right:1.0666666666666667vw;
    bottom:1.0666666666666667vw;
    z-index: 2
  }
.view-orders .order-wrapper .block.third{
    right:1.0666666666666667vw;
    bottom:1.0666666666666667vw;
    z-index: 3
  }
.view-orders .order-wrapper .qrcodeWrapper{
	width:11.733333333333333vw;
	height:11.733333333333333vw;
}
.view-orders .order-wrapper .footer .qrcodeWrapper .qrcode{
	width:100%;
	height:100%;
}
.view-orders .order-wrapper .footer .btn-group{
	display:flex;
}
.view-orders .order-wrapper .footer .btn{
/*	position:relative;
	top:4.666666666666667vw;
	right:2.6666666666666665vw;
	width:21.333333333333332vw;
	height:9.333333333333334vw;
	line-height:9.333333333333334vw;
	background:#FFFFFF;
	box-shadow:0 -4px 10px 0 rgba(0,0,0,0.1), 0 4px 10px 0 rgba(0,0,0,0.1);
	background-color:black;
	text-align:center;
	font-size:13px;*/

	background:#FFFFFF;
	border:0.26666666666666666vw solid #F5F5F5;
	box-shadow:0 0.5333333333333333vw 2.1333333333333333vw 0 rgba(0,0,0,0.05);
	border-radius:1.0666666666666667vw;
	height:8.533333333333333vw;
	font-size:3.466666666666667vw;
	text-align:center;
	color:#666;
	width:21.333333333333332vw;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:2vw;
}
.view-orders .order-wrapper .footer .btn.waitingPay{
	background-color: #d6204b;
	color:white;
}
.view-orders .showPayPrice{
	font-size: 4vw;
	/*color:#d6204b;*/
}
.view-orders .showPayPrice:before{
	content:'￥';
	font-size: 3.7333333333333334vw;
}
.view-orders .yingfukuan{
	font-size: 3.466666666666667vw
}

.view-orders .order-wrapper[data-status=WaitingProduction] .orderState{
	color:#FFA818;
}
.view-orders .order-wrapper[data-status=Canceled] .orderState,
.view-orders .order-wrapper[data-status=Finished] .orderState,
.view-orders .order-wrapper[data-status=Complete] .orderState{
	color:#9b9b9b;
}
.view-orders .order-wrapper[data-status=WaitingPay] .orderState{
	color:#FF502E;
}
.view-orders .order-wrapper[data-status=Producting] .orderState{
	color:#DCB87B;
}
.view-orders .ware-picture{
	width:100%;
	height:100%;
}
.view-orders .ower-btn-blank{
	width:26.666666666666668vw;
}
.view-orders .detail-scroll-body{
	display: flex;
	position: relative;
	left:0;
	/*height: 61.333333333333336vw*/
}
.view-orders .detail-scroll-body.left{
	left:-21.333333333333332vw;
	transition: all .2s
}
.view-orders .detail-scroll-body.right{
	left:80;
	transition: all .2s
}
.view-orders .lower-blank{
	/*width:160px !important;*/
}
.view-orders .lower-blank image{
	width:21.333333333333332vw;
	height:100%;
}
.view-orders .lower-btn{
	width:10.666666666666666vw;
	height:10.666666666666666vw;
}
.view-orders .lower-btn image{
	width:10.666666666666666vw;
	height:10.666666666666666vw;
}
.view-orders .lower{
	position:absolute;
	width:21.333333333333332vw;
	right:0;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.view-orders .scroll-orderDetail{
	z-index: 2
}
.view-orders .line-wrapper{
	position: relative;
	/*height: 61.333333333333336vw;*/
	left: 0
}
.view-orders .line-wrapper[data-recordPos='h-hiden']{
	left: -100vw;
	transition: left .2s;

}
.view-orders .line-wrapper[data-recordPos='v-hiden']{
	display: none

}


.goLogin-wrapper{
	position:relative;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	/*background-color: #F8F8F8*/

}
.goLogin-wrapper .login-logo{
	width:20vw;
	height:21.333333333333332vw;
	margin-bottom:13.333333333333334vw;
	margin-top:24vw
}
.goLogin-wrapper .login-msg{
	font-size:4.266666666666667vw;
	color:#999999;
	margin-bottom:14.933333333333334vw;
}
.goLogin-wrapper .login-btn{
	font-size:4.533333333333333vw;
	color:#FFFFFF;
	background:#d6204b;
	box-shadow:0 1.3333333333333333vw 2.6666666666666665vw 0 rgba(0,0,0,0.20);
	border-radius:21.333333333333332vw;
	width:42.666666666666664vw;
	height:13.333333333333334vw;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:26.666666666666668vw;
}
.img-floor {
	position: relative;
}
.img-floor image{
    background-color: #fff;
/*    width:100px;
    height:100px;*/
    box-shadow: 0 0.8vw 1.6vw 0 rgba(0,0,0,0.05);
    position: absolute;
    border:0.13333333333333333vw solid #f0f0f0;
}
.img-floor image.f1{
    left:0;
    top:0;
    z-index: 10;
    width:100%;
    height:100%;

  }
.img-floor image.f2{
    left:0.8vw;
    top:0.8vw;
    z-index: 9;
    width:100%;
    height:100%;
  }
.img-floor image.f3{
    left:1.6vw;
    top:1.6vw;
    z-index: 8;
    width:100%;
    height:100%;
}
.tab_ul{
	position:absolute;
	height:0.8vw;
	background-color:#d6204b;
	left:0;
	bottom:0;
	width:12vw;
	transition: all .3s;

}
.view-orders .order-typelogo{
	font-size:3.7333333333333334vw;
	border:1px solid;
	width:4vw;
	height:4vw;
	line-height:4vw;
	line-height:4vw;
	border-radius:0.8vw;
	margin-right:1.3333333333333333vw;
	text-align:center;


}
.view-orders .order-typelogo.tuan{
	color:#d6204b;
	border-color:#d6204b;
}
.view-orders .order-typelogo.miao{
	color:#2e7cd7;
	border-color:#2e7cd7;

}
/*.view-orders .delete{
	animation:deleteOrder 1.5s;
	animation-fill-mode: both;
}
@keyframes deleteOrder{
	0% {
		left:0vw;
	}
	50% {
		left:-100vw;
		height:60vw;
	}
	100%{
		height: 0;
		display:none;
		width: 0;

	}

}*/


