page{
	background-color: #f8f8f8;
}
.page-couponfetch{}
.page-couponfetch .header-tab{
	display:flex;
	height:13.333333333333334vw;
	align-items:center;
	background:#FFFFFF;
	box-shadow:0 1.3333333333333333vw 4vw 0 rgba(0,0,0,0.05);
	position:fixed;
	top:0.26666666666666666vw;
	z-index:100;
	width:100%;
}
.page-couponfetch .tab-item{
	width:50%;
	display:flex;
	justify-content:center;
	font-size:3.7333333333333334vw;
	height:100%;

}
.page-couponfetch .tab-item .notice{
	height:100%;
	width:26.666666666666668vw;
	text-align:center;
	position:relative;
	/*align-self:center;*/
	display:flex;
	justify-content:center;
	align-items:center;
}
.page-couponfetch .tab-item.active{
	font-weight:bolder;
	color:#d73b3e;
}
.page-couponfetch .tab-item.active .notice:after{
	content:" ";
	position:absolute;
	width:16vw;
	bottom:0;
	left:5.333333333333333vw;
	height:0.5333333333333333vw;
	background-color:#d73b3e;

}
.page-couponfetch .coupon-list{
	/*margin-top: 13.333333333333334vw;*/
}
.page-couponfetch .wrapper{
	padding-top: 5.333333333333333vw;
	/*height: 100%*/
}

.page-couponfetch .online-coupon-wrapper {
	display:flex;
	position:relative;
	/*width:90.66666666666667vw;*/
	height:35.46666666666667vw;
	/*margin:0 4.666666666666667vw 4.666666666666667vw 4.666666666666667vw;*/
	/*box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
	background-color: #fff;*/
	/*background-image:url('../aseet/online-coupon-bg.png');*/
}
.page-couponfetch .online-coupon-wrapper .online-coupon-bg{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	/*background: #FFFFFF;*/
}
.page-couponfetch .online-coupon-wrapper .how-use{
	z-index:1;
	width:60vw;
	display:flex;
	flex-direction:column;
	padding:5.866666666666666vw 0 0 8.533333333333333vw;

}	
.page-couponfetch .online-coupon-wrapper .how-use .coupon-type{
	/*font-family: PingFangSC-Semibold;*/
	font-size:3.7333333333333334vw;
	color:#434552;
	margin-bottom:2.1333333333333333vw;
	line-height: 3.7333333333333334vw


}
.page-couponfetch .online-coupon-wrapper .how-use .coupon-date{
	font-size:3.2vw;
	color:#a3a3a3;
	margin-bottom:1.3333333333333333vw;
	line-height: 4.533333333333333vw
}
.page-couponfetch .online-coupon-wrapper .how-use .coupon-note{
	font-size: 3.2vw;
	color: #a3a3a3;
	line-height: 4.533333333333333vw;
}
.page-couponfetch .online-coupon-wrapper .price{
	z-index:1;
display:flex;
flex-direction:column;
align-items:center;
padding:9.333333333333334vw 0 0 8vw;
width:18.666666666666668vw;


}
.page-couponfetch .online-coupon-wrapper .price .couponPrice{
	font-family: PingFangSC-Medium;
	font-size: 5.333333333333333vw;
	color: #e53236;
	/*margin-top: 6.133333333333334vw;*/
	letter-spacing: 0;
}
.page-couponfetch .online-coupon-wrapper .price .couponPrice .num{}
.page-couponfetch .online-coupon-wrapper .price .couponPrice .num:before{
	content:'￥';
	font-family:PingFangSC-Medium;
	font-size:4.266666666666667vw;
	position:absolute;
	top:1.3333333333333333vw;
	left:-4vw;
}
.page-couponfetch .online-coupon-wrapper .price .couponCondition{
	font-family: PingFangSC-Medium;
	font-size: 3.2vw;
	color: #a3a3a3;
	letter-spacing: 0;
}
.page-couponfetch .online-coupon-wrapper .price .couponCondition .msg{}

.page-couponfetch .online-coupon-wrapper .rt-logo{
	display:block;
width:13.333333333333334vw;
height:12vw;
position:absolute;
right:4.666666666666667vw;
top:0;
overflow:hidden;
z-index:100;

}
.page-couponfetch .online-coupon-wrapper .rt-logo image{
	width:100%;
	height:100%;
	position:absolute;

}







/*空模板*/
.page-couponfetch .coupon-empty{
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.page-couponfetch .coupon-empty image{
	height: 23.466666666666665vw;
	width: 23.466666666666665vw;
	margin-top: 18.933333333333334vw;
}
.page-couponfetch .coupon-empty .title{
	font-family: PingFangSC-Light;
	font-size: 4.266666666666667vw;
	color: #666666;
	letter-spacing: 0;
	margin-top: 12.266666666666667vw
}
.page-couponfetch .coupon-empty .subtitle{
	font-family: PingFangSC-Light;
	font-size: 3.7333333333333334vw;
	color: #999999;
	letter-spacing: 0;
	margin-top: 2.6666666666666665vw;
}



