page{
	height: 100%
}
.page-comment{
	background-color:#f0f0f0;
	padding-top:0.13333333333333333vw;
	padding-bottom:4vw;
	height: 100%;
}
.page-comment .pannel{
	background-color:#fff;
	box-shadow:0 0.5333333333333333vw 2.6666666666666665vw 0 rgba(0,0,0,0.1);
	margin:0 2.933333333333333vw 2.6666666666666665vw 2.933333333333333vw;
	padding:4vw 2.6666666666666665vw 0 2.6666666666666665vw;
}
.page-comment .service-comment{
}
.page-comment .pannel .title{
	height:13.333333333333334vw;
	display:flex;
	align-items:center;
	font-size:4.266666666666667vw;
	/*padding-left:2.6666666666666665vw;*/
}
.page-comment .service-comment .servicestar{
	display:flex;
	justify-content:space-between;
	margin-top:2.6666666666666665vw;
	padding:0 2.6666666666666665vw;

}
.page-comment .service-comment .servicestar image{
	width:11.733333333333333vw;
	height:11.733333333333333vw;

}
.page-comment .service-comment .note{
	color:#b9b9b9;
	font-size:3.7333333333333334vw;
	text-align:center;
	margin-top:5.333333333333333vw;
}

.page-comment .service-comment .img-floor .image{

}
.page-comment .pannel.ware-comment{
	padding: 0;
}
.page-comment .pannel.ware-comment .innerPadding{
	padding: 0 2.6666666666666665vw;
}
.page-comment .ware-comment .ware-wrapper{
	margin-left:2.6666666666666665vw;
	display: flex;
}
.page-comment .ware-comment .ware-wrapper .goodimg{
	width:24vw;
	height:24vw;
}
.page-comment .ware-comment .ware-wrapper .goodimg image{
	width:21.333333333333332vw;
	height:21.333333333333332vw;
}
.page-comment .ware-comment .ware-detail{
	width:56vw;
	position: relative;

}
.page-comment .ware-comment .ware-detail .ware-name{
	font-family: PingFangSC-Regular;
	font-size: 4.266666666666667vw;
	color: #4A4A4A;
	letter-spacing: 0;
}
.page-comment .ware-comment .ware-detail .ware-name{
	/*height:10.666666666666666vw;*/
}
.page-comment .ware-comment .ware-detail .ware-count{
	/*margin-top:4vw;*/

}
.page-comment .ware-comment .warestar{
display:flex;
justify-content:space-between;
margin-top:5.866666666666666vw;
padding:0 12vw;
}
.page-comment .ware-comment .warestar image{
	width:8.533333333333333vw;
	height:8.533333333333333vw;
}
.page-comment .ware-comment .comment-ticks{
	display:flex;
	flex-wrap:wrap;
	margin-top:2.6666666666666665vw;
	margin-bottom:2.6666666666666665vw;
}
.page-comment .ware-comment .comment-ticks .tick.active{
	background-color:#dbc095;
	border-color:#dbc095;
	color:white;
}
.page-comment .ware-comment .comment-ticks .tick{
	background-color:#fff;
	border:0.4vw solid #f0f0f0;
	color:#676767;
	padding:2vw 3.7333333333333334vw;
	border-radius:13.333333333333334vw;
	font-size:3.466666666666667vw;
	margin-right:1.3333333333333333vw;
	margin-bottom:1.3333333333333333vw;
	min-width:13.333333333333334vw;
	text-align:center;
}
.page-comment .user-comment{
	/*height: 42.13333333333333vw;*/
	padding-top: 2.6666666666666665vw;
	border-top:0.26666666666666666vw solid #e9e9e9;
	border-bottom:0.26666666666666666vw solid #e9e9e9;
	 z-index: 0;
}
.page-comment .ware-body{
	margin-top: 5.333333333333333vw;
}
/*.page-comment .user-comment:after{}*/
.page-comment .user-comment textarea{
	/*height:42.13333333333333vw;*/
	overflow:hidden;
	margin-top:2.6666666666666665vw;
	color:#434552;
	font-size:4.266666666666667vw;
	height:26.666666666666668vw;
	width:100%;
	position:relative;
	z-index:0;
	background-color:#e9e9e9;
	padding:1.3333333333333333vw 0 0 1.3333333333333333vw;

}
.page-comment .user-comment .upload-img{
	width:13.333333333333334vw;
	height:13.333333333333334vw;
}
.upload-wrapper{
	border-top:0.26666666666666666vw solid #e9e9e9;
	padding:2.6666666666666665vw 0;
}
.page-comment .submit-btn{
	margin:2.6666666666666665vw;
	height:10.666666666666666vw;
	background-color:#d6204b;
	color:white;
	border-radius:1.3333333333333333vw;
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	width:94.66666666666667vw;
	bottom: 2.6666666666666665vw
}
.ware-price{
	position:absolute;
	color:#a4a4a4;
	bottom:0;
}
.ware-price:before{
	content:'￥';
}
.ware-count{
	position:absolute;
	color:#a4a4a4;
	bottom:0;
	right:0;
}
.page-comment .btn-wrapper{
	margin-bottom: 2.6666666666666665vw;
}
.page-comment .btn-wrapper .logo{
	width:16vw;
	height:16vw;
	margin-right:1.3333333333333333vw;
}

.page-comment .checkbox{
	width:4vw;
	height:4vw;
	margin-right: 1.3333333333333333vw;
}
.page-comment .isNoName{
	height:13.333333333333334vw;
	display:flex;
	align-items:center;
}
