.index { position: relative; height : 100%; width: 100%; min-width : 10.8rem; display: flex; display: -webkit-flex; align-items: center; justify-content: center; }
.index .layout-cont { z-index: 1; padding : 0.8rem; height : 10.8rem; width : 19.2rem; display: flex; display: -webkit-flex; flex-direction: column; justify-content: space-between; }
.index .layout-cont .layout-header { font-size : 0.2rem; height : 0.8rem; }
.index .layout-cont .layout-main { position: relative; }

