@import '../../widgets/common/common.css'
.page-collect .head { z-index:100;border-bottom: solid 0.26666666666666666vw #f0f0f0; background-color: #fff; position: fixed; top : 0; left : 0; width : 100%; display: flex; align-items: center; justify-content: space-around; }
.page-collect .head .box { text-align:center;height : 13.333333333333334vw; line-height: 13.333333333333334vw; padding : 0 2.6666666666666665vw; font-size : 3.7333333333333334vw; }
.page-collect .head .box.current { color : #d6204b;  }
.page-collect .tab_ul{
	position:absolute;
	height:0.8vw;
	background-color:#d6204b;
	left:0;
	bottom:0;
	width:33.333333333333336vw;
	transition: all .3s;

}

.scrollview{
	margin-top: 16vw
}
.store{
	height:20vw;
	display:flex;
	border-bottom:0.26666666666666666vw solid #f0f0f0;
}
.store .left{
	width:33.333333333333336vw;
	display:flex;
	align-items:center;
}
.store .left image{
	width:32vw;
	height:13.333333333333334vw;
}
.store .right{
width:66.66666666666667vw;
display:flex;
flex-direction:column;
padding:2.6666666666666665vw 0 1.3333333333333333vw 2.6666666666666665vw;
position: relative;
}
.store .right .name{
	font-size: 4vw
}
.store .right .detail{
	font-size: 3.466666666666667vw;
	color:#ababab;
	margin-top:2.6666666666666665vw;
}
.store .right image{
	position:absolute;
	right:4vw;
	width:5.333333333333333vw;
	height:5.333333333333333vw;
	bottom:2.6666666666666665vw;
}


.ware{
	height:40vw;
	display:flex;
	border-bottom:0.26666666666666666vw solid #f0f0f0;
}
.ware .left{
	width:33.333333333333336vw;
	display:flex;
	align-items:center;
}
.ware .left image{
	width:66.66666666666667vw;
	height:33.333333333333336vw;
	border-radius:0.6666666666666666vw;
}
.ware .right{
width:66.66666666666667vw;
display:flex;
flex-direction:column;
padding:2.6666666666666665vw 0 1.3333333333333333vw 2.6666666666666665vw;
position: relative;
}
.ware .right .title{
	font-size:3.7333333333333334vw;
	color:#232326;
	width:60vw;
}
.ware .right .sub-title{
	font-size:3.7333333333333334vw;
	color:#bababa;
	width:60vw;
	margin-top: 2.6666666666666665vw
}
.ware .right .detail{
	font-size: 3.466666666666667vw;
	color:#ababab;
	margin-top:2.6666666666666665vw;
}
.ware .right image{
	position:absolute;
	right:2.6666666666666665vw;
	width:5.333333333333333vw;
	height:6vw;
	top:5.333333333333333vw;
}
.ware .right .price{
	color:#f02323;
	position:absolute;
	bottom:4vw;
}
.ware .right .addCart{
	position:absolute;
	right:1.3333333333333333vw;
	top:24vw;
}
.ware .right .cancel{
	position:absolute;
	top:24vw;
	right:13.333333333333334vw;
}

.ware .right .price .dw{font-size: 4vw}
.ware .right .price .zs{font-size: 4.533333333333333vw}
.ware .right .price .xs{font-size: 3.466666666666667vw}
