page{
	height: 100%
}
.page-fxteam .head { z-index:100;border-bottom: solid 0.26666666666666666vw #f0f0f0; background-color: #fff; position: fixed; top : 0; left : 0; width : 100%; display: flex; align-items: center; justify-content: space-around; }
.page-fxteam .head .box { display:flex;
	flex-direction: column;
	text-align:center;
	height : 13.333333333333334vw; 
	/*line-height: 13.333333333333334vw;*/
	 padding : 0 2.6666666666666665vw; font-size : 3.7333333333333334vw; }
.page-fxteam .head .box.current { color : #d6204b;  }
.tab_ul{
	position:absolute;
	height:0.8vw;
	background-color:#d6204b;
	left:0;
	bottom:0;
	width:26.666666666666668vw;
	transition: all .3s;

}
.empty-members{
	position:relative;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	/*background-color: #F8F8F8*/

}
.empty-members .login-logo{
	width:20vw;
	height:21.333333333333332vw;
	margin-bottom:13.333333333333334vw;
	margin-top:24vw
}
.empty-members.login-msg{
	font-size:4.266666666666667vw;
	color:#999999;
	margin-bottom:14.933333333333334vw;
}
.empty-members .login-btn{
	font-size:4.533333333333333vw;
	color:#FFFFFF;
	background:#d6204b;
	box-shadow:0 1.3333333333333333vw 2.6666666666666665vw 0 rgba(0,0,0,0.20);
	border-radius:21.333333333333332vw;
	width:42.666666666666664vw;
	height:13.333333333333334vw;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:26.666666666666668vw;
}
.page-fxteam .memberlist-wrapper{
	padding-top: 16vw
}

.page-fxteam .member-wrapper{
	display:flex;
	background-color:white;
	border-bottom:0.26666666666666666vw solid #f8f8f8;
	padding:3.3333333333333335vw 2.1333333333333333vw;
	height:14.666666666666666vw;
}
.page-fxteam .user-img{
	width:10.666666666666666vw;
	height:10.666666666666666vw;
	border-radius:50%;
}
.page-fxteam .member-wrapper .left{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.page-fxteam .member-wrapper .right {
	position: relative;
	width: 75%
}
.page-fxteam .member-wrapper .right .joinDate{
	position:absolute;
	top:0;
	right:1.3333333333333333vw;
	font-size:3.466666666666667vw;
	color:#bababa;
}
.page-fxteam .member-wrapper .right .totalSale{
	position: absolute;
	bottom: 0;
	left: 0vw;
}
.page-fxteam .member-wrapper .right .totalSale .money{
	color:#d6204b;
}